@charset "ISO-8859-1";

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:70px;
}
.container-nav
{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-brand {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-right: auto; /* Pushes the "MEDI HOME" to the left */
}

.navbar-collapse {
    margin-left: auto;
    flex: 1;
}

.navbar-toggler {
    display: none;
}

.navbar-nav {
    display: flex;
    list-style: none;
    float: inline-end;
    margin-right: 20px;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Media query for toggler button */
@media screen and (max-width: 768px) {
    .navbar-toggler {
        display: block;
        cursor: pointer;
    }

    .navbar-collapse {
        display: none;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #28a745;
        padding: 10px;
    }

    .navbar-nav {
        flex-direction: column; /* Change flex direction for smaller screens */
    }

    .navbar-brand {
        margin-right: 0; /* Reset margin for smaller screens */
    }

    .navbar-collapse.active {
        display: block;
    }

    .nav-item {
        margin: 10px 0; /* Adjust margin for smaller screens */
    }
}




/* ---------------------------------------------------------------------------------- */
/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 50px;
}

.dropdown-toggle{
    padding: 5px;
}

.dropdown ul {
    display: none;
    position: absolute;
    background-color: #a9f59e;
    padding: 5px 0;
    z-index: 1;
    min-width: 100px;
    list-style: none;
   
}

.dropdown ul li {
    padding: 5px 15px;
    margin-left: 5px;
}
.dropdown ul li a{
    text-decoration: none;
    color: black;
}

.dropdown:hover ul {
    display: block;
}