@charset "ISO-8859-1";
/* Your CSS Styles */
.container {
    padding: 5rem;
}

.row {
    display: flex;
    justify-content: center;
}

.col-custom {
    width: 100%;
    max-width: 300px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.fs-4 {
    font-size: 1.5rem;
}

.form-label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    width: 90%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.bg-success {
    background-color: #28a745;
}

.text-white {
    color: #fff;
}



